.event-details {
  background-size: cover;
}

.event-details.marriage-ceremony {
  background-color: #f8f8f4;
  border-color: #ded8bb;
  background-image: linear-gradient(to top, #f3f3f133, #f3f3f180),
    url("/assets/paper.webp");
}

.event-details.wedding-reception {
  background-color: #fbf3dc;
  border-color: #b4941f;
  background-image: linear-gradient(to top, #fbf3dc33, #fbf3dc80),
    url("/assets/paper.webp");
}

.event-details::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/pattern.svg");
  background-repeat: repeat;
  background-size: 1000px;
  background-blend-mode: soft-light;
  opacity: 0.15;
  pointer-events: none;
  z-index: -1;
}
