.event-details::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/pattern.svg");
  background-repeat: repeat;
  background-size: 1000px;
  background-blend-mode: soft-light;
  opacity: 0.15;
  pointer-events: none;
  z-index: -1;
}
